In [2]:
#Importing Packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
covid_data = pd.read_csv("D:/da/covid-19/dataset/covid_19_india.csv")

In [4]:
covid_data.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3

In [5]:
covid_data.tail()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
2589,2590,02/06/20,8:00 AM,Tripura,-,-,173,0,420
2590,2591,02/06/20,8:00 AM,Uttarakhand,-,-,222,6,958
2591,2592,02/06/20,8:00 AM,Uttar Pradesh,-,-,4843,217,8075
2592,2593,02/06/20,8:00 AM,West Bengal,-,-,2306,325,5772
2593,2594,02/06/20,8:00 AM,Cases being reassigned to states,-,-,0,0,6414

In [6]:
covid_data.shape

(2594, 9)

In [7]:
covid_data.describe()

               Sno         Cured       Deaths     Confirmed
count  2594.000000   2594.000000  2594.000000   2594.000000
mean   1297.500000    538.526600    44.062452   1449.380108
std     748.967623   1898.851092   175.716884   5005.322018
min       1.000000      0.000000     0.000000      0.000000
25%     649.250000      1.000000     0.000000      8.000000
50%    1297.500000     17.000000     1.000000     59.000000
75%    1945.750000    187.750000    13.000000    788.500000
max    2594.000000  30108.000000  2362.000000  70013.000000

In [8]:
covid_data.isnull().sum()

Sno                         0
Date                        0
Time                        0
State/UnionTerritory        0
ConfirmedIndianNational     0
ConfirmedForeignNational    0
Cured                       0
Deaths                      0
Confirmed                   0
dtype: int64

In [9]:
covid_data['Date'] = pd.to_datetime(covid_data['Date'])

In [11]:
group_city = covid_data.groupby('State/UnionTerritory')

In [27]:
cities=[]
for city,city_df in group_city:
    cities.append(city)

In [29]:
print(cities)
print(len(city))

['Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Cases being reassigned to states', 'Chandigarh', 'Chhattisgarh', 'Dadar Nagar Haveli', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telengana', 'Tripura', 'Unassigned', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']
11

In [32]:
# Maximum Cured, Deaths and Confirmed cases

In [48]:
state_wise = group_city.max()
state_wise

,Sno,Date,Time,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
State/UnionTerritory,,,,,,,,
Andaman and Nicobar Islands,2559,2020-12-05,9:30 PM,6,0,33,0,33
Andhra Pradesh,2560,2020-12-05,9:30 PM,9,0,2378,64,3783
Arunachal Pradesh,2561,2020-12-05,8:00 AM,-,-,1,0,22
Assam,2562,2020-12-05,8:00 AM,-,-,277,4,1390
Bihar,2563,2020-12-05,9:30 PM,9,0,1900,24,3926
Cases being reassigned to states,2594,2020-05-31,8:00 AM,-,-,0,0,6414
Chandigarh,2564,2020-12-05,9:30 PM,8,0,199,4,294
Chhattisgarh,2565,2020-12-05,9:30 PM,6,0,122,1,547
Dadar Nagar Haveli,2566,2020-12-05,8:00 AM,-,-,1,0,3
Delhi,2567,2020-12-05,9:30 PM,9,1,8746,523,20834
Goa,2568,2020-12-05,9:30 PM,3,0,42,0,71
Gujarat,2569,2020-12-05,9:30 PM,7,1,10780,1063,17200
Haryana,2570,2020-12-05,9:30 PM,7,2,1055,21,2356
Himachal Pradesh,2571,2020-12-05,9:30 PM,3,0,122,5,340
Jammu and Kashmir,2572,2020-12-05,9:30 PM,7,0,946,31,2601
Jharkhand,2573,2020-12-05,8:00 AM,-,-,296,5,659
Karnataka,2574,2020-12-05,9:30 PM,6,0,1328,52,3408
Kerala,2575,2020-12-05,9:30 PM,9,8,608,10,1326
Ladakh,2576,2020-12-05,9:30 PM,8,0,43,0,77
Madhya Pradesh,2577,2020-12-05,9:30 PM,7,0,5003,358,8283
Maharashtra,2578,2020-12-05,9:30 PM,86,3,30108,2362,70013
Manipur,2579,2020-12-05,9:30 PM,1,0,11,0,83
Meghalaya,2580,2020-12-05,8:00 AM,-,-,12,1,27
Mizoram,2581,2020-12-05,9:30 PM,1,0,1,0,1
Nagaland,2582,2020-05-31,8:00 AM,-,-,0,0,43
Odisha,2583,2020-12-05,9:30 PM,3,0,1245,7,2104
Puducherry,2584,2020-12-05,9:30 PM,1,0,25,1,74
Punjab,2585,2020-12-05,9:30 PM,38,0,2000,45,2301
Rajasthan,2586,2020-12-05,9:30 PM,52,2,6040,198,8980
Sikkim,2587,2020-05-31,8:00 AM,-,-,0,0,1
Tamil Nadu,2588,2020-12-05,9:30 PM,7,6,13170,184,23495
Telengana,2589,2020-12-05,9:30 PM,8,9,1491,88,2792
Tripura,2590,2020-12-05,8:00 AM,-,-,173,0,420
Unassigned,618,2020-03-31,9:30 PM,-,-,0,0,77
Uttar Pradesh,2592,2020-12-05,9:30 PM,9,1,4843,217,8075
Uttarakhand,2591,2020-12-05,9:30 PM,4,1,222,6,958
West Bengal,2593,2020-12-05,9:30 PM,9,0,2306,325,5772